html, body, h1 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin: 0;
    color: white;
}
h1{
	font-size: 50px;
}
p{
	font-size: 25px;
	text-align: justify;
}
a{
	cursor: pointer;
	text-decoration: none;
	transition: 0.4s;
}
a:hover{
	color: white;
	transition: 0.4s;
}
hr{
	width: 50%;
}
.hr_on_gameboard{
	width: 100%;
	border-color: gold;
}
#login{
	position: fixed;
    top: 0;
    right: 45%;
    left: 45%;
    height: 3%;
	font-size: 100%;
    text-align: center;
	background-color: wheat;
	opacity: 0.7;
    border-bottom-left-radius: 110px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
    border: 5px gray;
    border-top: 0;
	border-style: inset;
}
#logout{
	width: 20%;
	height: 60%;
}
.section{
	font-size: 350%;
	text-align: center;
	height: 100%;
}
.box{
	padding: 60px 0;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	min-width: 50%;
	min-height: 50%;
	position: relative;
}
#start{
	background-color: #a52c2c;
}
#game{
	background-color: #5ea2d1;
}
#description{
	background-color: #85c18c;
}
footer{
	height: 7vh;
	width: 100%;
	background-color: #181917;
	margin: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#jumping_arrow{
	padding-top: 150px;
  	display: inline-block;
  	animation-name: jump;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}
#jumping_arrow:hover {
	cursor: pointer;
}
@keyframes jump {
    0%   {margin-top: 0px;}
    50%  {margin-top: 20px;}
    100% {margin-top: 0px;}
}
#feedback{
	animation-name: disappering;
  	animation-duration: 2s;
	opacity: 0;
}
@keyframes disappering {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
#UJ{
	padding-top: 50px;
	width: 55%;
	height: 55%;
}

/*GAMEBOARD*/
#gameboard{
	background-color: black;
	text-align: center;
	font-size: 50%;
	opacity: 0.6;
	border: 3px;
	border-style: outset;
	border-radius: 2px;
	height: 55vh;
}
.game_mode_buttons{

	text-align: center;
}
#button1{
	background-color: #a52c2c;
}
#button2{
	background-color: #5781a8;;
}
#button3{
	background-color: #87b78c;
}
button:hover{
	transition: 0.4s;
	opacity: 1;
	cursor: pointer;
}