html {
	overflow-x: hidden;
}
body{
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin: 0;
    color: white;
}
h1{
	font-size: 50px;
}
p{
	font-size: 25px;
	text-align: justify;
}
a{
	cursor: pointer;
	text-decoration: none;
	transition: 0.4s;
	color: darkslategrey;
}
a:hover{
	color: black;
	transition: 0.4s;
}
a:visited {
	color: darkslategrey;
}
hr{
	width: 50%;

}
.hr_on_gameboard{
	width: 100%;
	border-color: goldenrod;
}
#login{
	position: fixed;
    top: 0;
    height: 1.5vw;
	width: 12.5vw;
	margin-left: 75%;
	font-size: 13px;
    text-align: center;
	background-color: wheat;
	opacity: 0.7;
    border: 5px gray;
    border-top: 0;
	border-style: inset;
	border-radius: 0 0 35px 35px;
	z-index: 1;
	color: darkslategrey;
}
.section{
	font-size: 350%;
	text-align: center;
}
.box{
	padding: 40px 0;
	margin-left: 15%;
	margin-right: 15%;
}
#start{
	background-color: #a52c2c;
}
#game{
	background-color: #5ea2d1;
}
#description{
	background-color: #85c18c;
}
#jumping_arrow{
  	display: inline-block;
  	animation-name: jump;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
}
#jumping_arrow:hover {
	cursor: pointer;
}
@keyframes jump {
    0%   {margin-top: 0px;}
    50%  {margin-top: 20px;}
    100% {margin-top: 0px;}
}
#feedback{
	animation-name: disappering;
  	animation-duration: 2s;
}
@keyframes disappering {
    0%   {opacity: 0.5;}
    100% {opacity: 1;}
}
footer{
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	background-color: rgb(20,20,20);
	width: 100%;
	height: 50px;
}
#footerText{
	padding-top: 15px;
	padding-bottom: 15px;
}

/*GAMEBOARD*/
#gameboard{
	background-color: black;
	opacity: 0.7;
	border: 5px outset;
	border-radius: 2px;
	border-color: goldenrod;
}
#gameboard p{
	font-size: 28px;
	text-align: center;
}
button{
	border: 2px;
	border-radius: 25px;
	height: 55px;
	width: 225px;
	background-color: goldenrod;
	border-color: darkgoldenrod;
	border-style: inset;
	transition: 0.4s;
	font-size: 18px;
	border-radius: 15px 50px;
}
.game_mode_buttons{
	 width: 150px;
 }
.playButton{
	width: 100px;
}
.odpowiedzi{
	background-color: peachpuff;
	border-color: palegoldenrod;
}
#button1{
	background-color: #5780a8;
	border-color: #5780a8;
}
#button2{
	background-color: #a52c2c;
	border-color: #a52c2c;
}
#button3{
	background-color: #87b77c;
	border-color: #87b78c;
}
#pytanie{
	color: goldenrod;
	font-size: 80px;
}
#choice{
	height: 5px;
}
button:hover{
	transition: 0.4s;
	opacity: 1;
	cursor: pointer;
	-webkit-filter: brightness(125%);
}
#play{
	width: 50px;
	height: 50px;
}
#UJ{
	width: 35%;
	height: 35%;
	float: right;
}
/*RESPONSIVNESS*/
@media screen and (max-width: 1000px) {
  #login{
    font-size: 2vw;
	height: 3.7vw;
	width: 18vw;
  }
	button{
		width: 150px;
		background-color: goldenrod;
		border-color: darkgoldenrod;
		border-style: inset;
		transition: 0.4s;
		font-size: 13px;
		border-radius: 15px 50px;
}
.game_mode_buttons{
	 width: 80px;
 }
.playButton{
	width: 100px;
}
#UJ{
	float: none;
}
#gameboard p{
	font-size: 20px;
}