                                    <!--GAMEBOARD-->
                                    <p>
                                        {% if session['game_mode'] == 'wysokosc' or session['game_mode'] == 'interwaly' %}
                                            <button class="playButton" onClick="playTone({{ session['dzwiekA'] }}); setTimeout(function(){playTone({{ session['dzwiekB'] }})}, 700);"><img id="play" src={{ url_for('static', filename='images/logo.png') }}></button>
                                        {% elif session['game_mode'] == 'akordy' %}
                                            <button class="playButton" onClick="playTone(chord['{{ session['akord']}}']);"><img id="play" src={{ url_for('static', filename='images/logo.png') }}></button>
                                        {% endif %}
                                    </p>
                                    <!--PRZYCISK GRAJACY DŹWIĘKI-->
                                    <p id="pytanie">
                                        <u>
                                            <!--PYTANIA-->
                                            {% if session['odpowiedzi'] %}
                                                {% if session['game_mode'] == 'wysokosc' %}Drugi dźwięk w stosunku do pierwszego jest?
                                                {% elif session['game_mode'] == 'interwaly' %}Jaki to interwal?
                                                {% else %}Jaki to typ akordu?
                                                {% endif %}
                                            {% endif %}
                                        </u>
                                    </p>
                                    <hr>
                                    <!--ODPOWIEDZI-->
                                    {% for x in session['odpowiedzi']%}
                                        <button class="odpowiedzi" data-response="{{ x }}" onClick="get_response($(this).data('response'));">{{ x }}</button>
                                    {% endfor %}
                                    <hr class="hr_on_gameboard">
                                    <div id ="feedback">
                                        <!--ODPOWIEDZ Z POPRAWNOSIA-->
                                        {% if session['sprawdzenie'] != None %}
                                            <p class="choice">{{ session['sprawdzenie'] }}</p>
                                        {% endif %}
                                    </div>
                                    <hr>
                                    <!--STATYSTYKI-->
                                    <p>
                                        {% if session['username'] %}
                                            Statystyki:
                                            {% if session['game_mode'] == 'wysokosc' %}
                                                {% if (session['wysokoscStatPopr'] + session['wysokoscStatBled']) != 0 %}
                                                    {{ (session['wysokoscStatPopr'] * 100 / (session['wysokoscStatPopr'] + session['wysokoscStatBled'])) | int }}%
                                                {% elif session['wysokoscStatPopr'] != 0 %}
                                                    100%
                                                {% elif (session['wysokoscStatPopr'] + session['wysokoscStatBled']) == 0  %}
                                                    0%
                                                {% endif %}
                                            {% elif session['game_mode'] == 'interwaly' %}
                                                {% if (session['interwalyStatPopr'] + session['interwalyStatBled']) != 0 %}
                                                    {{ (session['interwalyStatPopr'] * 100 / (session['interwalyStatPopr'] + session['interwalyStatBled'])) | int }}%
                                                {% elif session['interwalyStatPopr'] != 0 %}
                                                    100%
                                                {% elif (session['interwalyStatPopr'] + session['interwalyStatBled']) == 0  %}
                                                    0%
                                                {% endif %}
                                            {% elif session['game_mode'] == 'akordy' %}
                                                {% if (session['akordyStatPopr'] + session['akordyStatBled']) != 0 %}
                                                    {{ (session['akordyStatPopr'] * 100 / (session['akordyStatPopr'] + session['akordyStatBled'])) | int }}%
                                                {% elif session['akordyStatPopr'] != 0 %}
                                                         100%
                                                {% elif (session['akordyStatPopr'] + session['akordyStatBled']) == 0  %}
                                                         0%
                                                {% endif %}

                                            {% endif %}
                                        {% else %}
                                            <a href="{{ url_for("log") }}">Zaloguj się</a> aby monitorować statystyki
                                        {% endif %}
                                        <!--PRZYCISK RESETUJACY STATYSTYKI-->
                                        {% if session['username'] %}
                                            <button id="reset" data-reset="True" onClick="get_reset($(this).data('reset'));">Zresetuj statystyki!</button>
                                        {% endif %}
                                    </p>

