<!DOCTYPE html>
<html lang="pl">
	<head>
        <meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

	    <meta name="viewport" content="width = devide-width, initial-scale = 1">
		<meta name="description" content="Relative ear trainer">
		<meta name="keywords" content="Relative, ear, trainer, aplikacja, do, trenowania, słuchu, relatywnego">
		<meta name="author" content="Tomasz Walasik">

		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" type="text/css" >
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}"/>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}" type="text/javascript"></script>
        <!--AJAX-->
        <script type="text/javascript">
            function ajax(object){
                $.ajax({
                    url: "{{url_for('start')}}", /*W KTOREJ SCIEZCE ROUTOWANIE TO ODBIERAMY*/
                    type: 'POST',
                    dataType:'text', /*JAKI TYP DANYCH JEST OCZEKIWANY*/
                    contentType: 'application/json',
                    data:JSON.stringify(object),
                    success: function()
                    {
                         /*ODSWIEZENIE game_boardu W PRZYPADKU SUCCESU*/
                         $('#load').load('{{url_for('start')}}' + ' #load');
                         /*ODSWIEZENIE PASKA LOGOWANIA */
                         $('#load_login').load('{{url_for('start')}}' + ' #load_login');
                        /*ZMIANA ROZMIARU DIVA W KTÓRYM JEST GAMEBOARD BO ZMIANIE ROZMIARU GAMEBOARDU (RESPONSYWNOŚĆ)*/
                         $('.resize').load('{{url_for('start')}}' + ' .resize');
                         console.log("SUKCES:" + "{{url_for('start')}}");
                    },
                    error: function(err, s , exception)
                    {
                         console.log(exception);
                    }
                });
            }
        </script>

        <title>Trener słuchu relatywnego</title>
	</head>

    <body>
             <div id="login">
                <div id="load_login">
                 {% if session['username'] != None %}
                     {{ session['username'] }}
                     <a data-logout="True" onClick="get_logout($(this).data('logout'));">Wyloguj!</a>
                 {% else %}
                     <a href="{{ url_for("log")}}">Zaloguj</a>
                     <a href="{{ url_for("reg")}}">Zarejestruj</a>
                 {% endif %}
                </div>
             </div>

            <div class="section" id="start">
                <div class="box">
                    <h1>TRENER SŁUCHU</h1>
                    <hr>
                    <p>Trener słuchu relatywnego to aplikacja, która pomaga muzykom w kształceniu słuchu na różnym poziomie edukacji. Oprócz tradycyjnego rozpoznawania wysokości dźwięku i interwałów, aplikacja
                    pomaga ćwiczyć rozpoznawanie typów akordów. Po zalogowaniu się użytkownik może monitorować swoje statystyki w obrębie danego ćwiczenia. Początkującym adeptom teorii muzyki w pierwszej kolejności
                    zalecane jest opanowanie rozpoznawania wysokości dźwięków, by potem przejść płynnie w stronę trudniejszej już identyfikacji interwałów po nazwie. Jako bonus dodany jest tryb rozponawania akordów.
                    Akord mollowy licząc od unisonu to dwa interwały grane jednocześnie: tercja mała i kwinta czysta, akord Durowy natomiast to tercja wielka i kwinta czysta.
                    </p>
                    <div id="jumping_arrow">
                        Trenuj!
                        <p><img src="{{ url_for('static', filename='images/arrow.png') }}" alt="Play" width="250" height="250"></p>
                    </div>
                </div>

            </div>

            <div class="section" id="game">
                <p>ROOT: {{ request.script_root|tojson|safe }}</p>
                {% if session['test'] %}
                    <p>JEST REQUEST: {{ session['test'] }}</p>
                {% else %}
                    <p>NIE MA REQUESTU</p>
                {% endif %}
                <div class="box">
                        <h1>TRENING</h1>
                        <hr>
                        <div id="gameboard">
                                <button id="button1" class="game_mode_buttons" data-game_mode="wysokosc" onClick="get_game_mode($(this).data('game_mode'));">Wysokość</button>
                                <button id="button2" class="game_mode_buttons" data-game_mode="interwaly" onClick="get_game_mode($(this).data('game_mode'));">Interwały</button>
                                <button id="button3" class="game_mode_buttons" data-game_mode="akordy" onClick="get_game_mode($(this).data('game_mode'));">Akordy</button>
                            <hr class="hr_on_gameboard">
                            <div id="load">
                                {% if session['game_mode'] %}
                                    {% include 'game_board.jinja2' %}
                                {% else %}
                                    <p class="choice">Wybierz trening</p>
                                {% endif %}
                            </div>
                            <div class="resize"></div>
                        </div>
                </div>
            </div>

            <div class="section" id="description">
                <div class="box">
                    <div class="resize"></div>
                        <h1>O PRACY</h1>
                        <hr>
                        <p>Aplikacja jest pracą dyplomową zwięczającą studia licencjackie na kierunku "Elektronicznie Przetwarzanie Informacji" na Uniwersytecie Jagiellońskim.
                            Promotorem pracy jest dr hab. Grzegorz Biliński prof. ASP. Projekt został napisany w języku Python wykorzystując przy tym microframework Flask, plugin Scrollify,
                            bilbiotekę simpleTones.js, a także baze danych SQLite obsługiwaną za pomocą SQLAlchemy. Strona jest w pełni responsywna.</p>
                        <p><i><u>Autor: Tomasz Walasik</u></i></p>
                        <p><i><u>Kontakt: twalasik7@gmail.com</u></i></p>
                        <img id="UJ" src={{ url_for('static', filename='images/UJ_logo.png') }}>
                </div>
            </div>
            <footer>
                <div id="footerText">
                    Prawa autorskie zastrzeżone Uniwerstet Jagiellonski  © 2019
                </div>
            </footer>
	</body>
</html>